EMAIL_ADDRESS="YOUR EMAIL ADDRESS"
EMAIL_APP_PASSWORD="YOUR EMAIL PASSWORD || EMAIL APP PASSWORD"  
EMAIL_APP_PASSWORD="YOUR EMAIL PASSWORD || EMAIL APP PASSWORD"

MONGO_URL="YOUR MONGO DB CONNECTION STRING"